@media (max-width: 1200px) {
  .task-information {
    margin-left: 278px;
    margin-right: 46px;
  }
}

@media (max-width: 1100px) {
  .task-information {
    margin-left: 248px;
    margin-right: 16px;
  }
  .form-left {
    width: 48%;
  }
  .form-right {
    width: 48%;
  }
}

.task-information {
  width: 100%;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  justify-content: flex-start;
}
.task-top-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.task-title {
  display: none;
  width: 95%;
  font-size: 47px;
  z-index: 600;
  margin-bottom: 10px;
  position: fixed;
  top: 90px;
}
.task-form-container {
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  position: fixed;
  top: 50px;
  bottom: 120px;
}
.add-task-form {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.add-task-form textarea {
  max-height: 75px;
}
.form-left,
.form-right {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.form-split {
  display: none;
}
.priority span {
  width: 30%;
}
.task-subtasks-list {
  margin-bottom: 30px;
}
.task-bottom-container {
  height: 90px;
  position: fixed;
  right: 30px;
  bottom: 5px;
  z-index: 500;
}
.task-bottom {
  gap: 5px;
}
.task-clear {
  display: none;
}

@media (max-width: 500px) {
  .form-left,
  .form-right {
    padding-left: 10px;
    padding-right: 10px;
  }
  .priority {
    gap: 16px;
  }
  .priority span {
    height: 41px;
    width: 120px;
    font-size: 16px;
  }
  .task-bottom-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 16px;
  }
}

@media (max-width: 427px) {
  .priority {
    flex-direction: column;
  }
  .priority span {
    height: 60px;
    width: 100%;
    font-size: 20px;
  }
  .task-bottom {
    flex-direction: column;
  }
  .task-buttons {
    width: 100%;
  }
  .task-add {
    width: 100%;
  }
  .task-added-to-board {
    width: 95%;
  }
}

@media (max-height: 1000px) {
  .task-information {
    height: calc(100% - 50px);
    margin-top: 30px;
  }
  .task-title {
    font-size: 47px;
    margin-bottom: 20px;
  }
  .form-left,
  .form-right {
    gap: 0;
  }
  .task-subtasks-list {
    max-height: 60px;
  }
}
