.add-task {
  height: calc(100vh - 96px);
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.red {
  color: #ff8090;
}

.task-information {
  height: calc(100% - 206px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 110px;
  margin-left: 328px;
  margin-right: 96px;
}

.task-title {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 45px;
}

.task-form-container {
  font-size: 20px;
}

.add-task-form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.input {
  height: 48px;
  width: 100%;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
}

.add-task-form textarea {
  height: 120px;
  width: 100%;
  padding: 18px 16px 18px 16px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
}

.form-left {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.form-left span {
  margin-top: 10px;
}

#title {
  margin-top: 0;
}

.description {
  max-height: 300px;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.form-split {
  height: 424px;
  border: 1px solid #d1d1d1;
}

.form-right {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.form-right span {
  margin-top: 10px;
}

#due-date {
  margin-top: 0;
}

.priority {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.priority span {
  height: 56px;
  width: 136px;
  padding: 16px 10px 16px 10px;
  gap: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.prio-hover:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

#medium {
  background: rgb(255, 168, 0);
  color: rgb(255, 255, 255);
}

.task {
  position: relative;
}

.task span {
  padding-right: 30px;
}

.task-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 50;
}

.subtask-icons-container {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtask-icons-container:hover {
  border-radius: 50%;
  background-color: #d1d1d1;
}

input::placeholder {
  color: #757575;
}

.task-date {
  color: #757575;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: url(../assets/img/date.png) no-repeat;
}

.task-category {
  cursor: pointer;
  z-index: 5;
  position: relative;
}

.search-dropdown-item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 21px;
  border-radius: 10px;
}

.hover-icon:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}

.task-subtasks {
  padding-right: 60px;
}

.task-subtasks-list {
  max-height: 100px;
  overflow: auto;
  list-style-position: inside;
  width: 100%;
  font-size: 16px;
  scrollbar-width: thin;
}

.subtask-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.subtask-input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.subtask-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subtask-list-item {
  width: 100%;
  padding-left: 21px;
  padding-right: 65px;
  font-size: 16px;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.subtask-icons {
  display: none;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding-right: 5px;
}

.subtask-icons-edit {
  height: 20px;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding-right: 5px;
  display: flex;
  align-items: center;
}

.subtask-icons-edit img {
  height: 15px;
}

.edit-subtask-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtask-list:hover .subtask-icons {
  display: flex;
  transition: all 0.1s ease-in-out;
}

.subtask-list:hover {
  background-color: #eeeeee;
  border-radius: 10px;
}

.subtask-icons img {
  height: 18px;
}

.subtask-edit-input {
  height: 28px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 65px 4px 16px;
  border-top: 0;
  border-bottom: 1px solid #f6f7f8;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-size: 16px;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.task-bottom-container {
  width: 100%;
  background-color: #f6f7f8;
}

.task-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.field-required {
  display: flex;
  justify-content: start;
  align-items: end;
}

.task-buttons {
  display: flex;
  gap: 16px;
}

.task-clear {
  height: 56px;
  width: 110px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 4px;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
}

.task-clear:hover {
  transition: all 0.1s ease-in-out;
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
  filter: brightness(150%);
}

.task-clear:hover::after {
  background-color: #29abe2;
  /* opacity: 0.5; */
}

.task-clear:active {
  transition: all 0.1s ease-in-out;
  border: 1px solid #091931;
  color: #091931;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.task-clear img {
  transition: filter 0.1s ease-in-out;
}

.task-clear:hover img {
  filter: brightness(150%) sepia(100%) hue-rotate(180deg);
}

.task-add {
  height: 56px;
  width: 183px;
  background: #2a3647;
  border-radius: 10px;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 4px;
  cursor: pointer;
  font-size: 20px;
}

.task-add:hover {
  transition: all 0.1s ease-in-out;
  background: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.task-add:active {
  transition: all 0.1s ease-in-out;
  background: #091931;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.task-add-img {
  width: 15.49px;
  height: 11.22px;
}

.search-input {
  width: 200px;
  padding: 8px;
}

.task-category-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  background-color: #ffffff;
  width: 100%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 4px 0px #00000029;
  margin-top: -10px;
  padding-top: 10px;
}

.category-dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.category-dropdown-item:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.required {
  font-size: 12px;
  color: #f6f7f8;
}

.assigned-dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-assigned-to {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.task-assigned-to-dropdown-container {
  padding-top: 20px;
  background-color: white;
  margin-top: -10px;
  padding-top: 10px;
  /* margin-bottom: 10px; */
  display: none;
}

.task-assigned-to-dropdown {
  display: none;
  max-height: 300px;
  width: 100%;
  flex-direction: column;
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 6;
  background-color: white;
  border-radius: 0 0 10px 10px;
  /* overflow-y: scroll; */
  scrollbar-width: thin;
  /* scroll-margin-top: 10px; */
  overflow: auto;
  box-shadow: 0px 2px 4px 0px #00000029;
  /* margin-top: -10px;
  padding-top: 10px; */
}

.assigned-dropdown-item {
  padding: 7px 16px 7px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.assigned-dropdown-item:hover {
  background-color: #f0f0f0;
}

.assigned-to-users {
  max-width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 5px;
  left: 10px;
  right: 10px;
  z-index: 1;
}

.user-dropdown-name-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-initials .checkmark-container {
  width: 10%;
}

.user-initials,
.assigned-to-users-checked {
  min-height: 42px;
  min-width: 42px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29abe2;
}

.assigned-dropdown-user {
  width: 80%;
  text-align: left;
  font-size: 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

.hidden {
  display: none;
}

.hidden:hover {
  display: none;
}

@media (max-width: 1200px) {
  .task-information {
    margin-left: 278px;
    margin-right: 46px;
  }
}

@media (max-width: 1100px) {
  .task-information {
    margin-left: 248px;
    margin-right: 16px;
  }
  .form-left {
    width: 48%;
  }
  .form-right {
    width: 48%;
  }
}

@media (max-width: 1000px), (max-height: 720px) {
  /* body::-webkit-scrollbar {
    width: 0;
    height: 0;
  } */
  /* .add-task {
    height: 100vh;
  } */
  .task-information {
    /* height: 100%; */
    width: 100%;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-start;
  }
  .task-top-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .task-title {
    width: 95%;
    font-size: 47px;
    margin-bottom: 20px;
    position: fixed;
    top: 90px;
  }
  .task-form-container {
    height: 70vh;
    overflow: auto;
    scrollbar-width: none;
    margin-top: 140px;
  }
  .task-form-container {
    width: 100%;
  }
  .add-task-form {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
  }
  .form-left,
  .form-right {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-split {
    display: none;
  }
  .priority span {
    width: 30%;
  }
  .task-subtasks-list {
    margin-bottom: 30px;
  }
  .task-bottom-container {
    /* height: 60px; */
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
  .task-bottom {
    gap: 5px;
  }
  .task-clear {
    display: none;
  }
}

@media (max-width: 500px) {
  .form-left,
  .form-right {
    padding-left: 10px;
    padding-right: 10px;
  }
  .priority {
    gap: 16px;
  }
  .priority span {
    height: 41px;
    width: 120px;
    font-size: 16px;
  }
  .task-bottom-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 16px;
  }
}

@media (max-width: 427px) {
  .priority {
    flex-direction: column;
  }
  .priority span {
    height: 60px;
    width: 100%;
    font-size: 20px;
  }
  .task-bottom {
    flex-direction: column;
  }
  .task-buttons {
    width: 100%;
  }
  .task-add {
    width: 100%;
  }
}

@media (max-height: 1000px) {
  .task-information {
    height: calc(100% - 50px);
    margin-top: 30px;
  }
  .task-title {
    font-size: 47px;
    margin-bottom: 20px;
  }
  .form-left,
  .form-right {
    gap: 0;
  }
  .task-subtasks-list {
    height: 60px;
  }
}
