.section-board{
    height: calc(100vh - 96px);
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding-left: 280px;
    padding-right: 60px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 5% 65%;
}
.board-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
h1{
    font-weight: 700;
    font-size: 61px;
}
.board-header-search{
    display: flex;
    gap: 15px;
}
.add-task-btn{
    width: 160px;
    height: 48px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    border: 1px;
    background-color: #2A3647;
    padding: 8px, 16px, 8px, 16px;

}
.add-task-btn span{
    width: 92px;
    font-weight: 600;
    font-size: 20px;
}
.add-task-btn:hover{
    background-color: #29ABE2;

}
.find-task-input{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    width: 312px;
    gap: 10px;
    padding-right: 25px;
    position: relative;

}

.find-task-input input{
    outline: none;
    border: none;
    height: 48px;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    
}

.search-img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.3s ease;
    width: 30px;
    height: 30px;
    object-fit: none;
}

.search-img:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.tasks-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    overflow: auto;
    height: 100%;
    padding: 5px;
    gap: 30px;
}
.tasks-container::-webkit-scrollbar {
    width: 0;  /* Verstecke die vertikale Scrollbar */
    height: 0;
}
.tasks-container-header{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
}
.tasks-container-header-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    text-align: start;
    height: 25px;
    font-weight: 700;
    font-size: 20px;
    color: #42526E;
}
.tasks-container-header-text img{
    height: 25px;
}
.tasks-container-header-text img:hover{
    cursor: pointer;
    content: url(../assets/img/board-plus-button.png);
    height: 25px;
}

.tasks-drag-and-drop{
    width: 25%;
    min-height: 55vh;
    gap: 5px;
    
    
}
.no-task-to-do{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    gap: 10px;
    border-radius: 10px;
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
    box-shadow: 0px 0px 4px 0px #00000029;
}
.no-task-to-do span{
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
}
.task-card{
    display: flex;
    flex-direction: column;
    min-height: 263px;
    background-color: #FFFF;
    padding: 16px 10px 16px 10px;
    border-radius: 24px;
    gap: 20px;
    box-shadow: 0px 0px 10px 3px #00000014;
    margin-bottom: 20px;
    cursor: pointer;

}
.task-card-category{
    display: flex;
    align-items: center;
    background-color:#0038FF;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    padding: 0 25px 0 25px;
    /* padding: 4px, 16px, 4px, 16px; */
    height: 27px;
    width: fit-content;
}
.task-card-title{
    font-weight: 700;
    font-size: 16px;
    color: #2A3647;
    ;
}
.task-card-description{
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;

}
.background-add-task{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: all 0.5s ease;
}
.background-add-task.show-background {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.add-task-container {
    height: 55vh;
    width: 85%;
    display: flex;
    transition: all 0.5s ease;
    transform: translateX(100%);
    visibility: hidden;
}
.add-task-container.show-add-task {
    transform: translateX(0);
    visibility: visible;
}
/* .task-card-category */
.drag-area-highlight {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: rgba(0, 0, 0, 0.2);
}
.load-bar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.load-bar{
    background-color: #0038FF;
    height: 8px;
    width: 50%;
}
.task-card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1000px) {
    .add-task-btn span {
        display: none;
    }
}
