.add-task {
  height: calc(100vh - 96px);
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.red {
  color: #ff8090;
}

.task-information {
  height: calc(100% - 206px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 110px;
  margin-left: 328px;
  margin-right: 96px;
}

.task-title {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 45px;
}

.task-form-container {
  font-size: 20px;
}

.add-task-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.input {
  height: 48px;
  width: 100%;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
}

.add-task-form textarea {
  height: 120px;
  width: 100%;
  padding: 18px 16px 18px 16px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
}

.form-left {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.form-left span {
  margin-top: 10px;
}

.description {
  max-height: 300px;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.form-split {
  height: 424px;
  border: 1px solid #d1d1d1;
}

.form-right {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.form-right span {
  margin-top: 10px;
}

.priority {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.priority span {
  height: 56px;
  width: 136px;
  padding: 16px 10px 16px 10px;
  gap: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.prio-hover:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

#medium {
  background: rgb(255, 168, 0);
  color: rgb(255, 255, 255);
}

.task {
  position: relative;
}

.task span {
  padding-right: 30px;
}

.task-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 50;
}

input::placeholder {
  color: #757575;
}

.task-date {
  color: #757575;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: url(../../assets/img/date.png) no-repeat;
}

.task-category {
  cursor: pointer;
  z-index: 5;
  position: relative;
}

.search-dropdown-item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 21px;
  border-radius: 10px;
}

.hover-icon:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}

.field-required {
  display: flex;
  justify-content: start;
  align-items: end;
}

.search-input {
  width: 200px;
  padding: 8px;
}

.task-category-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  background-color: #ffffff;
  width: 100%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 4px 0px #00000029;
  margin-top: -10px;
  padding-top: 10px;
}

.category-dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.category-dropdown-item:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.required {
  font-size: 12px;
  color: #fca7b1;
}

#title-required {
  visibility: hidden;
}

#date-required {
  visibility: hidden;
}

#category-required {
  visibility: hidden;
}

.assigned-dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-assigned-to {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.task-assigned-to-dropdown-container {
  padding-top: 20px;
  background-color: white;
  margin-top: -10px;
  padding-top: 10px;
  display: none;
}

.task-assigned-to-dropdown {
  display: none;
  max-height: 300px;
  width: 100%;
  flex-direction: column;
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 6;
  background-color: white;
  border-radius: 0 0 10px 10px;
  scrollbar-width: thin;
  overflow: auto;
  box-shadow: 0px 2px 4px 0px #00000029;
}

.assigned-dropdown-item {
  padding: 7px 16px 7px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.assigned-dropdown-item:hover {
  background-color: #f0f0f0;
}

.assigned-to-users {
  max-width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 5px;
  left: 10px;
  right: 10px;
  z-index: 1;
}

.user-dropdown-name-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-initials .checkmark-container {
  width: 10%;
}

.user-initials,
.assigned-to-users-checked {
  min-height: 42px;
  min-width: 42px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29abe2;
}

.assigned-dropdown-user {
  width: 80%;
  text-align: left;
  font-size: 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

.hidden {
  display: none;
}

.hidden:hover {
  display: none;
}

.task-added-to-board {
  height: 74px;
  width: 326px;
  background-color: #091931;
  color: white;
  border-radius: 20px;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 700%);
  transition: all 0.5s ease;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  visibility: hidden;
}

.task-added-to-board.show-add-task {
  transform: translate(-50%, -50%);
  visibility: visible;
}
