<header>
  <span class="header-title">Kanban Project Managment Tool</span>
  <img class="header-logo" src="../assets/img/join_logo_blue.png" alt="logo" />
  <div class="header-username-container">
    <a id="headerHelp" href="../legal_information/help.html"><img class="header-username-img" src="../assets/img/help.png" alt="Help-img" /></a>
    <div onclick="targetDropdown()" id="headerUsername" class="header-username">G</div>
  </div>
  <div onclick="openOrCloseDropdown(event, 'dropdownContainer')" style="display: none" id="dropdownContainer" class="doard-header-dropdown-container">
    <div id="dropdown" class="doard-header-dropdown">
      <div class="sub-div">
        <a class="sub-div" href="../legal_information/legal_notice.html">Legal notice</a>
      </div>
      <div class="sub-div">
        <a class="sub-div" href="../legal_information/privacy_policy.html">Privacy Policy</a>
      </div>
      <div class="sub-div"><a class="sub-div" href="../index.html">Log out</a></div>
    </div>
  </div>
</header>
<section class="side-bar">
  <img class="side-bar-logo" src="../assets/img/join_logo.png" alt="" />
  <div class="side-bar-main">
    <div class="side-bar-container">
      <a id="summary" class="category" href="../summary/summary.html">
        <img src="../assets/img/summary.png" alt="" />
        <span>Summary</span>
      </a>
      <a id="addTask" class="category" href="../add_task/add_task.html">
        <img src="../assets/img/add_task.png" alt="" />
        <span>Add Task</span>
      </a>
      <a id="board" class="category" href="../board/board.html">
        <img src="../assets/img/board.png" alt="" />
        <span>Board</span>
      </a>
      <a id="contact" class="category" href="../contacts/contacts.html">
        <img src="../assets/img/contacts.png" alt="" />
        <span>Contacts</span>
      </a>
    </div>
    <div class="side-bar-information-container">
      <a id="privacyPolicy" class="hover" href="../legal_information/privacy_policy.html">Privacy Policy</a>
      <a id="legalNotice" class="hover" href="../legal_information/legal_notice.html">Legal notice</a>
    </div>
  </div>
</section>
