<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation</title>
    <link rel="stylesheet" href="../assets/fonts/fonts.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="template.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/join_logo.png"
      type="image/x-icon"
    />
    <script src="template.js"></script>
  </head>

  <body>
    <div class="big-screen">
      <header>
        <span>Kanban Project Managment Tool</span>
        <div class="header-username-container">
          <img
            class="header-username-img"
            src="../assets/img/help.png"
            alt="Help-img"
          />
          <div class="header-username">UN</div>
        </div>
      </header>

      <section class="side-bar">
        <img class="side-bar-logo" src="../assets/img/join_logo.png" alt="" />
        <div class="side-bar-container">
          <a href="">
            <img src="../assets/img/summary.png" alt="" />
            <span>Summary</span>
          </a>
          <a href="">
            <img src="../assets/img/add_task.png" alt="" />
            <span>Add Task</span>
          </a>
          <a href="">
            <img src="../assets/img/board.png" alt="" />
            <span>Board</span>
          </a>
          <a href="">
            <img src="../assets/img/contacts.png" alt="" />
            <span>Contacts</span>
          </a>
        </div>
        <div class="side-bar-information-container">
          <a href="../legal_information/privacy_policy.html">Privacy Policy</a>
          <a href="../legal_information/legal_notice.html">Legal notice</a>
        </div>
      </section>
    </div>
  </body>
</html>
