header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 348px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 96px;
}

.big-screen {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 999;
}

.header-logo {
  display: none;
}

.header-username-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-username-img {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.header-username-img:hover {
  height: 23px;
  width: 23px;
}

.header-username {
  cursor: pointer;
  color: #29abe2;
  font-weight: 700;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: solid 3px #2b2646;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-username:hover {
  background-color: #e1e7eb;
}

.side-bar-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 232px;
  background-color: #2a3647;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
  gap: 103px;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.side-bar-logo {
  width: 100px;
  height: 121px;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 232px;
  height: 229px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.category {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 56px;
  gap: 8px;
  width: 232px;
  height: 46px;
  color: #cdcdcd;
}

.category:hover {
  background: #283e58;
}

.active {
  background: #091931;
  color: white;
  filter: brightness(150%);
}

.side-bar-container img {
  height: 25px;
  width: 25px;
}

.side-bar-information-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  width: 232px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.side-bar-information-container a {
  padding: 8px;
  text-decoration: none;
  color: #a8a8a8;
  transition: transform 0.1s ease;
  padding-left: 52px;
  width: 100%;
}

.hover:hover {
  transform: scale(1.1);
  color: #29abe2;
}
.doard-header-dropdown-container {
  position: fixed;
  max-width: 1440px;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 998;
}
.doard-header-dropdown {
  z-index: 999;
  position: absolute;
  top: 96px;
  right: 60px;
  width: 150px;
  height: 158px;
  padding: 12px;
  background-color: #2a3647;
  border-radius: 20px 0px 20px 20px;
}
.sub-div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 125px;
  font-size: 16px;
  font-weight: 400;
  color: #cdcdcd;
  gap: 50px;
  border-radius: 2px;
}
.sub-div:hover {
  background-color: #303d50;
  color: #fff;
}
.sub-div a {
  text-decoration: none;
}
#help-none {
  display: none;
}

@media (max-width: 1000px), (max-height: 720px) {
  .big-screen {
    position: fixed;
    top: 0;
  }
  header {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-title {
    display: none;
  }
  .header-logo {
    display: block;
    width: 32px;
  }
  .header-username-img {
    display: none;
  }
  .side-bar {
    height: 80px;
    width: 100%;
    position: fixed;
    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: row;
    z-index: 999;
    padding: 0;
    font-size: 14px;
  }
  .side-bar-logo {
    display: none;
  }
  .side-bar-main {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .side-bar-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .category {
    height: 80px;
    width: 76px;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0px 8px 0px;
  }
  .category span {
    width: 80px;
    text-align: center;
  }
  .category:hover {
    border-radius: 10px;
  }
  .active {
    border-radius: 10px;
  }
  #help-none {
    display: unset;
  }
  .doard-header-dropdown {
    height: 200px;
  }
}

@media (max-width: 500px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .side-bar-main {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 427px) {
  header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .side-bar-main {
    padding-left: 16px;
    padding-right: 16px;
  }
}
